// bower:scss
// endbower

//font
@font-face {font-family: 'Noto Sans Regular';
  src: url('//at.alicdn.com/t/pofhaycgq6bf0f6r.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/pofhaycgq6bf0f6r.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/pofhaycgq6bf0f6r.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/pofhaycgq6bf0f6r.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/pofhaycgq6bf0f6r.svg#思源黑体-粗') format('svg'); /* iOS 4.1- */
}

@font-face {font-family: 'Noto Sans Regular';
  src: url('//at.alicdn.com/t/anxai9lzy5m3rf6r.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/anxai9lzy5m3rf6r.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/anxai9lzy5m3rf6r.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/anxai9lzy5m3rf6r.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/anxai9lzy5m3rf6r.svg#思源黑体-极细') format('svg'); /* iOS 4.1- */
}

// global styles
* {
    box-sizing: border-box
}

a {
    text-decoration: none;
}

// utility
.row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    /* width:100%; */
}

.col,.row {
    /* position:relative */
}

.col {
    -webkit-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
    width: 100%
}

.row,.row>.col {
    padding-left: 20px;
    padding-right: 20px
}

.row--wide-gutter,.row--wide-gutter>.col {
    padding-left: 40px;
    padding-right: 40px
}

.row--fat>.col {
    margin-top: 40px
}

.row--thin>.col {
    margin-top: 20px
}

.row--flat>.col {
    margin-top: 0
}

.row--no-gutter,.row>.col--no-gutter {
    padding-left: 0;
    padding-right: 0;
}

.row--offset {
    margin-left: -40px;
    margin-right: -40px
}

.row--hc {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.row--vc {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.row--reverse {
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse
}

.col.col--1 {
    -webkit-flex: 0 1 8.33333%;
    -ms-flex: 0 1 8.33333%;
    flex: 0 1 8.33333%;
    max-width: 8.33333%
}

.col.col--2 {
    -webkit-flex: 0 1 16.66667%;
    -ms-flex: 0 1 16.66667%;
    flex: 0 1 16.66667%;
    max-width: 16.66667%
}

.col.col--3 {
    -webkit-flex: 0 1 25%;
    -ms-flex: 0 1 25%;
    flex: 0 1 25%;
    max-width: 25%
}

.col.col--4 {
    -webkit-flex: 0 1 33.33333%;
    -ms-flex: 0 1 33.33333%;
    flex: 0 1 33.33333%;
    max-width: 33.33333%
}

.col.col--5 {
    -webkit-flex: 0 1 41.66667%;
    -ms-flex: 0 1 41.66667%;
    flex: 0 1 41.66667%;
    max-width: 41.66667%
}

.col.col--6 {
    -webkit-flex: 0 1 50%;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    max-width: 50%
}

.col.col--7 {
    -webkit-flex: 0 1 58.33333%;
    -ms-flex: 0 1 58.33333%;
    flex: 0 1 58.33333%;
    max-width: 58.33333%
}

.col.col--8 {
    -webkit-flex: 0 1 66.66667%;
    -ms-flex: 0 1 66.66667%;
    flex: 0 1 66.66667%;
    max-width: 66.66667%
}

.col.col--9 {
    -webkit-flex: 0 1 75%;
    -ms-flex: 0 1 75%;
    flex: 0 1 75%;
    max-width: 75%
}

.col.col--10 {
    -webkit-flex: 0 1 83.33333%;
    -ms-flex: 0 1 83.33333%;
    flex: 0 1 83.33333%;
    max-width: 83.33333%
}

.col.col--11 {
    -webkit-flex: 0 1 91.66667%;
    -ms-flex: 0 1 91.66667%;
    flex: 0 1 91.66667%;
    max-width: 91.66667%
}

.col.col--12 {
    -webkit-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    max-width: 100%
}

.col.loose-1-of-2 {
    -webkit-flex: 0 1 50%;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    max-width: 50%
}

.col.loose-1-of-3 {
    -webkit-flex: 0 1 33.33333%;
    -ms-flex: 0 1 33.33333%;
    flex: 0 1 33.33333%;
    max-width: 33.33333%
}

.col.loose-1-of-4 {
    -webkit-flex: 0 1 25%;
    -ms-flex: 0 1 25%;
    flex: 0 1 25%;
    max-width: 25%
}

.col.loose-1-of-5 {
    -webkit-flex: 0 1 20%;
    -ms-flex: 0 1 20%;
    flex: 0 1 20%;
    max-width: 20%
}

.col.loose-1-of-6 {
    -webkit-flex: 0 1 16.66667%;
    -ms-flex: 0 1 16.66667%;
    flex: 0 1 16.66667%;
    max-width: 16.66667%
}

.col.loose-1-of-7 {
    -webkit-flex: 0 1 14.28571%;
    -ms-flex: 0 1 14.28571%;
    flex: 0 1 14.28571%;
    max-width: 14.28571%
}

.col.loose-1-of-8 {
    -webkit-flex: 0 1 12.5%;
    -ms-flex: 0 1 12.5%;
    flex: 0 1 12.5%;
    max-width: 12.5%
}

.col.loose-1-of-9 {
    -webkit-flex: 0 1 11.11111%;
    -ms-flex: 0 1 11.11111%;
    flex: 0 1 11.11111%;
    max-width: 11.11111%
}

.col.loose-1-of-10 {
    -webkit-flex: 0 1 10%;
    -ms-flex: 0 1 10%;
    flex: 0 1 10%;
    max-width: 10%
}

.col.loose-1-of-11 {
    -webkit-flex: 0 1 9.09091%;
    -ms-flex: 0 1 9.09091%;
    flex: 0 1 9.09091%;
    max-width: 9.09091%
}

.col.loose-1-of-12 {
    -webkit-flex: 0 1 8.33333%;
    -ms-flex: 0 1 8.33333%;
    flex: 0 1 8.33333%;
    max-width: 8.33333%
}

.col.col--auto {
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
}

.col.col--fill {
    -webkit-flex: 1 1 0;
    -ms-flex: 1 1 0;
    flex: 1 1 0
}

.row--40pxgutter,.row--40pxgutter>.col {
    padding-left: 20px;
    padding-right: 20px
}

.row--phone-wide-gutter,.row--phone-wide-gutter>.col {
    padding-left: 40px;
    padding-right: 40px
}

.row--phone-fat>.col {
    margin-top: 40px
}

.row--phone-thin>.col {
    margin-top: 20px
}

.row--phone-flat>.col {
    margin-top: 0
}

.row--phone-no-gutter,.row>.col--phone-no-gutter {
    padding-left: 0;
    padding-right: 0
}

.row--phone-offset {
    margin-left: -40px;
    margin-right: -40px
}

.row--phone-hc {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.row--phone-vc {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.row--phone-reverse {
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse
}

.col.col--phone-1 {
    -webkit-flex: 0 1 8.33333%;
    -ms-flex: 0 1 8.33333%;
    flex: 0 1 8.33333%;
    max-width: 8.33333%
}

.col.col--phone-2 {
    -webkit-flex: 0 1 16.66667%;
    -ms-flex: 0 1 16.66667%;
    flex: 0 1 16.66667%;
    max-width: 16.66667%
}

.col.col--phone-3 {
    -webkit-flex: 0 1 25%;
    -ms-flex: 0 1 25%;
    flex: 0 1 25%;
    max-width: 25%
}

.col.col--phone-4 {
    -webkit-flex: 0 1 33.33333%;
    -ms-flex: 0 1 33.33333%;
    flex: 0 1 33.33333%;
    max-width: 33.33333%
}

.col.col--phone-5 {
    -webkit-flex: 0 1 41.66667%;
    -ms-flex: 0 1 41.66667%;
    flex: 0 1 41.66667%;
    max-width: 41.66667%
}

.col.col--phone-6 {
    -webkit-flex: 0 1 50%;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    max-width: 50%
}

.col.col--phone-7 {
    -webkit-flex: 0 1 58.33333%;
    -ms-flex: 0 1 58.33333%;
    flex: 0 1 58.33333%;
    max-width: 58.33333%
}

.col.col--phone-8 {
    -webkit-flex: 0 1 66.66667%;
    -ms-flex: 0 1 66.66667%;
    flex: 0 1 66.66667%;
    max-width: 66.66667%
}

.col.col--phone-9 {
    -webkit-flex: 0 1 75%;
    -ms-flex: 0 1 75%;
    flex: 0 1 75%;
    max-width: 75%
}

.col.col--phone-10 {
    -webkit-flex: 0 1 83.33333%;
    -ms-flex: 0 1 83.33333%;
    flex: 0 1 83.33333%;
    max-width: 83.33333%
}

.col.col--phone-11 {
    -webkit-flex: 0 1 91.66667%;
    -ms-flex: 0 1 91.66667%;
    flex: 0 1 91.66667%;
    max-width: 91.66667%
}

.col.col--phone-12 {
    -webkit-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    max-width: 100%
}

.col.phone-loose-1-of-2 {
    -webkit-flex: 0 1 50%;
    -ms-flex: 0 1 50%;
    flex: 0 1 50%;
    max-width: 50%
}

.col.phone-loose-1-of-3 {
    -webkit-flex: 0 1 33.33333%;
    -ms-flex: 0 1 33.33333%;
    flex: 0 1 33.33333%;
    max-width: 33.33333%
}

.col.phone-loose-1-of-4 {
    -webkit-flex: 0 1 25%;
    -ms-flex: 0 1 25%;
    flex: 0 1 25%;
    max-width: 25%
}

.col.phone-loose-1-of-5 {
    -webkit-flex: 0 1 20%;
    -ms-flex: 0 1 20%;
    flex: 0 1 20%;
    max-width: 20%
}

.col.phone-loose-1-of-6 {
    -webkit-flex: 0 1 16.66667%;
    -ms-flex: 0 1 16.66667%;
    flex: 0 1 16.66667%;
    max-width: 16.66667%
}

.col.phone-loose-1-of-7 {
    -webkit-flex: 0 1 14.28571%;
    -ms-flex: 0 1 14.28571%;
    flex: 0 1 14.28571%;
    max-width: 14.28571%
}

.col.phone-loose-1-of-8 {
    -webkit-flex: 0 1 12.5%;
    -ms-flex: 0 1 12.5%;
    flex: 0 1 12.5%;
    max-width: 12.5%
}

.col.phone-loose-1-of-9 {
    -webkit-flex: 0 1 11.11111%;
    -ms-flex: 0 1 11.11111%;
    flex: 0 1 11.11111%;
    max-width: 11.11111%
}

.col.phone-loose-1-of-10 {
    -webkit-flex: 0 1 10%;
    -ms-flex: 0 1 10%;
    flex: 0 1 10%;
    max-width: 10%
}

.col.phone-loose-1-of-11 {
    -webkit-flex: 0 1 9.09091%;
    -ms-flex: 0 1 9.09091%;
    flex: 0 1 9.09091%;
    max-width: 9.09091%
}

.col.phone-loose-1-of-12 {
    -webkit-flex: 0 1 8.33333%;
    -ms-flex: 0 1 8.33333%;
    flex: 0 1 8.33333%;
    max-width: 8.33333%
}

.col.col--phone-auto {
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
}

.col.col--phone-fill {
    -webkit-flex: 1 1 0;
    -ms-flex: 1 1 0;
    flex: 1 1 0
}

@media all and (min-width: 500px) {
    .container--phablet {
        max-width:500px
    }

    .row--40pxgutter,.row--40pxgutter>.col {
        padding-left: 20px;
        padding-right: 20px
    }

    .row--phablet-wide-gutter,.row--phablet-wide-gutter>.col {
        padding-left: 40px;
        padding-right: 40px
    }

    .row--phablet-fat>.col {
        margin-top: 40px
    }

    .row--phablet-thin>.col {
        margin-top: 20px
    }

    .row--phablet-flat>.col {
        margin-top: 0
    }

    .row--phablet-no-gutter,.row>.col--phablet-no-gutter {
        padding-left: 0;
        padding-right: 0
    }

    .row--phablet-offset {
        margin-left: -40px;
        margin-right: -40px
    }

    .row--phablet-hc {
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .row--phablet-vc {
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }

    .row--phablet-reverse {
        -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse
    }

    .col.col--phablet-1 {
        -webkit-flex: 0 1 8.33333%;
        -ms-flex: 0 1 8.33333%;
        flex: 0 1 8.33333%;
        max-width: 8.33333%
    }

    .col.col--phablet-2 {
        -webkit-flex: 0 1 16.66667%;
        -ms-flex: 0 1 16.66667%;
        flex: 0 1 16.66667%;
        max-width: 16.66667%
    }

    .col.col--phablet-3 {
        -webkit-flex: 0 1 25%;
        -ms-flex: 0 1 25%;
        flex: 0 1 25%;
        max-width: 25%
    }

    .col.col--phablet-4 {
        -webkit-flex: 0 1 33.33333%;
        -ms-flex: 0 1 33.33333%;
        flex: 0 1 33.33333%;
        max-width: 33.33333%
    }

    .col.col--phablet-5 {
        -webkit-flex: 0 1 41.66667%;
        -ms-flex: 0 1 41.66667%;
        flex: 0 1 41.66667%;
        max-width: 41.66667%
    }

    .col.col--phablet-6 {
        -webkit-flex: 0 1 50%;
        -ms-flex: 0 1 50%;
        flex: 0 1 50%;
        max-width: 50%
    }

    .col.col--phablet-7 {
        -webkit-flex: 0 1 58.33333%;
        -ms-flex: 0 1 58.33333%;
        flex: 0 1 58.33333%;
        max-width: 58.33333%
    }

    .col.col--phablet-8 {
        -webkit-flex: 0 1 66.66667%;
        -ms-flex: 0 1 66.66667%;
        flex: 0 1 66.66667%;
        max-width: 66.66667%
    }

    .col.col--phablet-9 {
        -webkit-flex: 0 1 75%;
        -ms-flex: 0 1 75%;
        flex: 0 1 75%;
        max-width: 75%
    }

    .col.col--phablet-10 {
        -webkit-flex: 0 1 83.33333%;
        -ms-flex: 0 1 83.33333%;
        flex: 0 1 83.33333%;
        max-width: 83.33333%
    }

    .col.col--phablet-11 {
        -webkit-flex: 0 1 91.66667%;
        -ms-flex: 0 1 91.66667%;
        flex: 0 1 91.66667%;
        max-width: 91.66667%
    }

    .col.col--phablet-12 {
        -webkit-flex: 0 1 100%;
        -ms-flex: 0 1 100%;
        flex: 0 1 100%;
        max-width: 100%
    }

    .col.phablet-loose-1-of-2 {
        -webkit-flex: 0 1 50%;
        -ms-flex: 0 1 50%;
        flex: 0 1 50%;
        max-width: 50%
    }

    .col.phablet-loose-1-of-3 {
        -webkit-flex: 0 1 33.33333%;
        -ms-flex: 0 1 33.33333%;
        flex: 0 1 33.33333%;
        max-width: 33.33333%
    }

    .col.phablet-loose-1-of-4 {
        -webkit-flex: 0 1 25%;
        -ms-flex: 0 1 25%;
        flex: 0 1 25%;
        max-width: 25%
    }

    .col.phablet-loose-1-of-5 {
        -webkit-flex: 0 1 20%;
        -ms-flex: 0 1 20%;
        flex: 0 1 20%;
        max-width: 20%
    }

    .col.phablet-loose-1-of-6 {
        -webkit-flex: 0 1 16.66667%;
        -ms-flex: 0 1 16.66667%;
        flex: 0 1 16.66667%;
        max-width: 16.66667%
    }

    .col.phablet-loose-1-of-7 {
        -webkit-flex: 0 1 14.28571%;
        -ms-flex: 0 1 14.28571%;
        flex: 0 1 14.28571%;
        max-width: 14.28571%
    }

    .col.phablet-loose-1-of-8 {
        -webkit-flex: 0 1 12.5%;
        -ms-flex: 0 1 12.5%;
        flex: 0 1 12.5%;
        max-width: 12.5%
    }

    .col.phablet-loose-1-of-9 {
        -webkit-flex: 0 1 11.11111%;
        -ms-flex: 0 1 11.11111%;
        flex: 0 1 11.11111%;
        max-width: 11.11111%
    }

    .col.phablet-loose-1-of-10 {
        -webkit-flex: 0 1 10%;
        -ms-flex: 0 1 10%;
        flex: 0 1 10%;
        max-width: 10%
    }

    .col.phablet-loose-1-of-11 {
        -webkit-flex: 0 1 9.09091%;
        -ms-flex: 0 1 9.09091%;
        flex: 0 1 9.09091%;
        max-width: 9.09091%
    }

    .col.phablet-loose-1-of-12 {
        -webkit-flex: 0 1 8.33333%;
        -ms-flex: 0 1 8.33333%;
        flex: 0 1 8.33333%;
        max-width: 8.33333%
    }

    .col.col--phablet-auto {
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto
    }

    .col.col--phablet-fill {
        -webkit-flex: 1 1 0;
        -ms-flex: 1 1 0;
        flex: 1 1 0
    }
}

@media all and (min-width: 700px) {
    .container--tablet-sm {
        max-width:700px
    }

    .row--40pxgutter,.row--40pxgutter>.col {
        padding-left: 20px;
        padding-right: 20px
    }

    .row--tablet-sm-wide-gutter,.row--tablet-sm-wide-gutter>.col {
        padding-left: 40px;
        padding-right: 40px
    }

    .row--tablet-sm-fat>.col {
        margin-top: 40px
    }

    .row--tablet-sm-thin>.col {
        margin-top: 20px
    }

    .row--tablet-sm-flat>.col {
        margin-top: 0
    }

    .row--tablet-sm-no-gutter,.row>.col--tablet-sm-no-gutter {
        padding-left: 0;
        padding-right: 0
    }

    .row--tablet-sm-offset {
        margin-left: -40px;
        margin-right: -40px
    }

    .row--tablet-sm-hc {
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .row--tablet-sm-vc {
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }

    .row--tablet-sm-reverse {
        -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse
    }

    .col.col--tablet-sm-1 {
        -webkit-flex: 0 1 8.33333%;
        -ms-flex: 0 1 8.33333%;
        flex: 0 1 8.33333%;
        max-width: 8.33333%
    }

    .col.col--tablet-sm-2 {
        -webkit-flex: 0 1 16.66667%;
        -ms-flex: 0 1 16.66667%;
        flex: 0 1 16.66667%;
        max-width: 16.66667%
    }

    .col.col--tablet-sm-3 {
        -webkit-flex: 0 1 25%;
        -ms-flex: 0 1 25%;
        flex: 0 1 25%;
        max-width: 25%
    }

    .col.col--tablet-sm-4 {
        -webkit-flex: 0 1 33.33333%;
        -ms-flex: 0 1 33.33333%;
        flex: 0 1 33.33333%;
        max-width: 33.33333%
    }

    .col.col--tablet-sm-5 {
        -webkit-flex: 0 1 41.66667%;
        -ms-flex: 0 1 41.66667%;
        flex: 0 1 41.66667%;
        max-width: 41.66667%
    }

    .col.col--tablet-sm-6 {
        -webkit-flex: 0 1 50%;
        -ms-flex: 0 1 50%;
        flex: 0 1 50%;
        max-width: 50%
    }

    .col.col--tablet-sm-7 {
        -webkit-flex: 0 1 58.33333%;
        -ms-flex: 0 1 58.33333%;
        flex: 0 1 58.33333%;
        max-width: 58.33333%
    }

    .col.col--tablet-sm-8 {
        -webkit-flex: 0 1 66.66667%;
        -ms-flex: 0 1 66.66667%;
        flex: 0 1 66.66667%;
        max-width: 66.66667%
    }

    .col.col--tablet-sm-9 {
        -webkit-flex: 0 1 75%;
        -ms-flex: 0 1 75%;
        flex: 0 1 75%;
        max-width: 75%
    }

    .col.col--tablet-sm-10 {
        -webkit-flex: 0 1 83.33333%;
        -ms-flex: 0 1 83.33333%;
        flex: 0 1 83.33333%;
        max-width: 83.33333%
    }

    .col.col--tablet-sm-11 {
        -webkit-flex: 0 1 91.66667%;
        -ms-flex: 0 1 91.66667%;
        flex: 0 1 91.66667%;
        max-width: 91.66667%
    }

    .col.col--tablet-sm-12 {
        -webkit-flex: 0 1 100%;
        -ms-flex: 0 1 100%;
        flex: 0 1 100%;
        max-width: 100%
    }

    .col.tablet-sm-loose-1-of-2 {
        -webkit-flex: 0 1 50%;
        -ms-flex: 0 1 50%;
        flex: 0 1 50%;
        max-width: 50%
    }

    .col.tablet-sm-loose-1-of-3 {
        -webkit-flex: 0 1 33.33333%;
        -ms-flex: 0 1 33.33333%;
        flex: 0 1 33.33333%;
        max-width: 33.33333%
    }

    .col.tablet-sm-loose-1-of-4 {
        -webkit-flex: 0 1 25%;
        -ms-flex: 0 1 25%;
        flex: 0 1 25%;
        max-width: 25%
    }

    .col.tablet-sm-loose-1-of-5 {
        -webkit-flex: 0 1 20%;
        -ms-flex: 0 1 20%;
        flex: 0 1 20%;
        max-width: 20%
    }

    .col.tablet-sm-loose-1-of-6 {
        -webkit-flex: 0 1 16.66667%;
        -ms-flex: 0 1 16.66667%;
        flex: 0 1 16.66667%;
        max-width: 16.66667%
    }

    .col.tablet-sm-loose-1-of-7 {
        -webkit-flex: 0 1 14.28571%;
        -ms-flex: 0 1 14.28571%;
        flex: 0 1 14.28571%;
        max-width: 14.28571%
    }

    .col.tablet-sm-loose-1-of-8 {
        -webkit-flex: 0 1 12.5%;
        -ms-flex: 0 1 12.5%;
        flex: 0 1 12.5%;
        max-width: 12.5%
    }

    .col.tablet-sm-loose-1-of-9 {
        -webkit-flex: 0 1 11.11111%;
        -ms-flex: 0 1 11.11111%;
        flex: 0 1 11.11111%;
        max-width: 11.11111%
    }

    .col.tablet-sm-loose-1-of-10 {
        -webkit-flex: 0 1 10%;
        -ms-flex: 0 1 10%;
        flex: 0 1 10%;
        max-width: 10%
    }

    .col.tablet-sm-loose-1-of-11 {
        -webkit-flex: 0 1 9.09091%;
        -ms-flex: 0 1 9.09091%;
        flex: 0 1 9.09091%;
        max-width: 9.09091%
    }

    .col.tablet-sm-loose-1-of-12 {
        -webkit-flex: 0 1 8.33333%;
        -ms-flex: 0 1 8.33333%;
        flex: 0 1 8.33333%;
        max-width: 8.33333%
    }

    .col.col--tablet-sm-auto {
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto
    }

    .col.col--tablet-sm-fill {
        -webkit-flex: 1 1 0;
        -ms-flex: 1 1 0;
        flex: 1 1 0
    }
}

@media all and (min-width: 768px) {
    .container--sm {
        max-width:768px
    }

    .row--40pxgutter,.row--40pxgutter>.col {
        padding-left: 20px;
        padding-right: 20px
    }

    .row--sm-wide-gutter,.row--sm-wide-gutter>.col {
        padding-left: 40px;
        padding-right: 40px
    }

    .row--sm-fat>.col {
        margin-top: 40px
    }

    .row--sm-thin>.col {
        margin-top: 20px
    }

    .row--sm-flat>.col {
        margin-top: 0
    }

    .row--sm-no-gutter,.row>.col--sm-no-gutter {
        padding-left: 0;
        padding-right: 0
    }

    .row--sm-offset {
        margin-left: -40px;
        margin-right: -40px
    }

    .row--sm-hc {
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .row--sm-vc {
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }

    .row--sm-reverse {
        -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse
    }

    .col.col--sm-1 {
        -webkit-flex: 0 1 8.33333%;
        -ms-flex: 0 1 8.33333%;
        flex: 0 1 8.33333%;
        max-width: 8.33333%
    }

    .col.col--sm-2 {
        -webkit-flex: 0 1 16.66667%;
        -ms-flex: 0 1 16.66667%;
        flex: 0 1 16.66667%;
        max-width: 16.66667%
    }

    .col.col--sm-3 {
        -webkit-flex: 0 1 25%;
        -ms-flex: 0 1 25%;
        flex: 0 1 25%;
        max-width: 25%
    }

    .col.col--sm-4 {
        -webkit-flex: 0 1 33.33333%;
        -ms-flex: 0 1 33.33333%;
        flex: 0 1 33.33333%;
        max-width: 33.33333%
    }

    .col.col--sm-5 {
        -webkit-flex: 0 1 41.66667%;
        -ms-flex: 0 1 41.66667%;
        flex: 0 1 41.66667%;
        max-width: 41.66667%
    }

    .col.col--sm-6 {
        -webkit-flex: 0 1 50%;
        -ms-flex: 0 1 50%;
        flex: 0 1 50%;
        max-width: 50%
    }

    .col.col--sm-7 {
        -webkit-flex: 0 1 58.33333%;
        -ms-flex: 0 1 58.33333%;
        flex: 0 1 58.33333%;
        max-width: 58.33333%
    }

    .col.col--sm-8 {
        -webkit-flex: 0 1 66.66667%;
        -ms-flex: 0 1 66.66667%;
        flex: 0 1 66.66667%;
        max-width: 66.66667%
    }

    .col.col--sm-9 {
        -webkit-flex: 0 1 75%;
        -ms-flex: 0 1 75%;
        flex: 0 1 75%;
        max-width: 75%
    }

    .col.col--sm-10 {
        -webkit-flex: 0 1 83.33333%;
        -ms-flex: 0 1 83.33333%;
        flex: 0 1 83.33333%;
        max-width: 83.33333%
    }

    .col.col--sm-11 {
        -webkit-flex: 0 1 91.66667%;
        -ms-flex: 0 1 91.66667%;
        flex: 0 1 91.66667%;
        max-width: 91.66667%
    }

    .col.col--sm-12 {
        -webkit-flex: 0 1 100%;
        -ms-flex: 0 1 100%;
        flex: 0 1 100%;
        max-width: 100%
    }

    .col.sm-loose-1-of-2 {
        -webkit-flex: 0 1 50%;
        -ms-flex: 0 1 50%;
        flex: 0 1 50%;
        max-width: 50%
    }

    .col.sm-loose-1-of-3 {
        -webkit-flex: 0 1 33.33333%;
        -ms-flex: 0 1 33.33333%;
        flex: 0 1 33.33333%;
        max-width: 33.33333%
    }

    .col.sm-loose-1-of-4 {
        -webkit-flex: 0 1 25%;
        -ms-flex: 0 1 25%;
        flex: 0 1 25%;
        max-width: 25%
    }

    .col.sm-loose-1-of-5 {
        -webkit-flex: 0 1 20%;
        -ms-flex: 0 1 20%;
        flex: 0 1 20%;
        max-width: 20%
    }

    .col.sm-loose-1-of-6 {
        -webkit-flex: 0 1 16.66667%;
        -ms-flex: 0 1 16.66667%;
        flex: 0 1 16.66667%;
        max-width: 16.66667%
    }

    .col.sm-loose-1-of-7 {
        -webkit-flex: 0 1 14.28571%;
        -ms-flex: 0 1 14.28571%;
        flex: 0 1 14.28571%;
        max-width: 14.28571%
    }

    .col.sm-loose-1-of-8 {
        -webkit-flex: 0 1 12.5%;
        -ms-flex: 0 1 12.5%;
        flex: 0 1 12.5%;
        max-width: 12.5%
    }

    .col.sm-loose-1-of-9 {
        -webkit-flex: 0 1 11.11111%;
        -ms-flex: 0 1 11.11111%;
        flex: 0 1 11.11111%;
        max-width: 11.11111%
    }

    .col.sm-loose-1-of-10 {
        -webkit-flex: 0 1 10%;
        -ms-flex: 0 1 10%;
        flex: 0 1 10%;
        max-width: 10%
    }

    .col.sm-loose-1-of-11 {
        -webkit-flex: 0 1 9.09091%;
        -ms-flex: 0 1 9.09091%;
        flex: 0 1 9.09091%;
        max-width: 9.09091%
    }

    .col.sm-loose-1-of-12 {
        -webkit-flex: 0 1 8.33333%;
        -ms-flex: 0 1 8.33333%;
        flex: 0 1 8.33333%;
        max-width: 8.33333%
    }

    .col.col--sm-auto {
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto
    }

    .col.col--sm-fill {
        -webkit-flex: 1 1 0;
        -ms-flex: 1 1 0;
        flex: 1 1 0
    }
}

@media all and (min-width: 992px) {
    .container--md {
        max-width:992px
    }

    .row--40pxgutter,.row--40pxgutter>.col {
        padding-left: 20px;
        padding-right: 20px
    }

    .row--md-wide-gutter,.row--md-wide-gutter>.col {
        padding-left: 40px;
        padding-right: 40px
    }

    .row--md-fat>.col {
        margin-top: 40px
    }

    .row--md-thin>.col {
        margin-top: 20px
    }

    .row--md-flat>.col {
        margin-top: 0
    }

    .row--md-no-gutter,.row>.col--md-no-gutter {
        padding-left: 0;
        padding-right: 0
    }

    .row--md-offset {
        margin-left: -40px;
        margin-right: -40px
    }

    .row--md-hc {
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .row--md-vc {
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }

    .row--md-reverse {
        -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse
    }

    .col.col--md-1 {
        -webkit-flex: 0 1 8.33333%;
        -ms-flex: 0 1 8.33333%;
        flex: 0 1 8.33333%;
        max-width: 8.33333%
    }

    .col.col--md-2 {
        -webkit-flex: 0 1 16.66667%;
        -ms-flex: 0 1 16.66667%;
        flex: 0 1 16.66667%;
        max-width: 16.66667%
    }

    .col.col--md-3 {
        -webkit-flex: 0 1 25%;
        -ms-flex: 0 1 25%;
        flex: 0 1 25%;
        max-width: 25%
    }

    .col.col--md-4 {
        -webkit-flex: 0 1 33.33333%;
        -ms-flex: 0 1 33.33333%;
        flex: 0 1 33.33333%;
        max-width: 33.33333%
    }

    .col.col--md-5 {
        -webkit-flex: 0 1 41.66667%;
        -ms-flex: 0 1 41.66667%;
        flex: 0 1 41.66667%;
        max-width: 41.66667%
    }

    .col.col--md-6 {
        -webkit-flex: 0 1 50%;
        -ms-flex: 0 1 50%;
        flex: 0 1 50%;
        max-width: 50%;
    }

    .col.col--md-7 {
        -webkit-flex: 0 1 58.33333%;
        -ms-flex: 0 1 58.33333%;
        flex: 0 1 58.33333%;
        max-width: 58.33333%
    }

    .col.col--md-8 {
        -webkit-flex: 0 1 66.66667%;
        -ms-flex: 0 1 66.66667%;
        flex: 0 1 66.66667%;
        max-width: 66.66667%
    }

    .col.col--md-9 {
        -webkit-flex: 0 1 75%;
        -ms-flex: 0 1 75%;
        flex: 0 1 75%;
        max-width: 75%
    }

    .col.col--md-10 {
        -webkit-flex: 0 1 83.33333%;
        -ms-flex: 0 1 83.33333%;
        flex: 0 1 83.33333%;
        max-width: 83.33333%
    }

    .col.col--md-11 {
        -webkit-flex: 0 1 91.66667%;
        -ms-flex: 0 1 91.66667%;
        flex: 0 1 91.66667%;
        max-width: 91.66667%
    }

    .col.col--md-12 {
        -webkit-flex: 0 1 100%;
        -ms-flex: 0 1 100%;
        flex: 0 1 100%;
        max-width: 100%
    }

    .col.md-loose-1-of-2 {
        -webkit-flex: 0 1 50%;
        -ms-flex: 0 1 50%;
        flex: 0 1 50%;
        max-width: 50%
    }

    .col.md-loose-1-of-3 {
        -webkit-flex: 0 1 33.33333%;
        -ms-flex: 0 1 33.33333%;
        flex: 0 1 33.33333%;
        max-width: 33.33333%
    }

    .col.md-loose-1-of-4 {
        -webkit-flex: 0 1 25%;
        -ms-flex: 0 1 25%;
        flex: 0 1 25%;
        max-width: 25%
    }

    .col.md-loose-1-of-5 {
        -webkit-flex: 0 1 20%;
        -ms-flex: 0 1 20%;
        flex: 0 1 20%;
        max-width: 20%
    }

    .col.md-loose-1-of-6 {
        -webkit-flex: 0 1 16.66667%;
        -ms-flex: 0 1 16.66667%;
        flex: 0 1 16.66667%;
        max-width: 16.66667%
    }

    .col.md-loose-1-of-7 {
        -webkit-flex: 0 1 14.28571%;
        -ms-flex: 0 1 14.28571%;
        flex: 0 1 14.28571%;
        max-width: 14.28571%
    }

    .col.md-loose-1-of-8 {
        -webkit-flex: 0 1 12.5%;
        -ms-flex: 0 1 12.5%;
        flex: 0 1 12.5%;
        max-width: 12.5%
    }

    .col.md-loose-1-of-9 {
        -webkit-flex: 0 1 11.11111%;
        -ms-flex: 0 1 11.11111%;
        flex: 0 1 11.11111%;
        max-width: 11.11111%
    }

    .col.md-loose-1-of-10 {
        -webkit-flex: 0 1 10%;
        -ms-flex: 0 1 10%;
        flex: 0 1 10%;
        max-width: 10%
    }

    .col.md-loose-1-of-11 {
        -webkit-flex: 0 1 9.09091%;
        -ms-flex: 0 1 9.09091%;
        flex: 0 1 9.09091%;
        max-width: 9.09091%
    }

    .col.md-loose-1-of-12 {
        -webkit-flex: 0 1 8.33333%;
        -ms-flex: 0 1 8.33333%;
        flex: 0 1 8.33333%;
        max-width: 8.33333%
    }

    .col.col--md-auto {
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto
    }

    .col.col--md-fill {
        -webkit-flex: 1 1 0;
        -ms-flex: 1 1 0;
        flex: 1 1 0
    }
}

@media all and (min-width: 1100px) {
    .container--lg {
        max-width:1100px
    }

    .row--40pxgutter,.row--40pxgutter>.col {
        padding-left: 20px;
        padding-right: 20px
    }

    .row--lg-wide-gutter,.row--lg-wide-gutter>.col {
        padding-left: 40px;
        padding-right: 40px
    }

    .row--lg-fat>.col {
        margin-top: 40px
    }

    .row--lg-thin>.col {
        margin-top: 20px
    }

    .row--lg-flat>.col {
        margin-top: 0
    }

    .row--lg-no-gutter,.row>.col--lg-no-gutter {
        padding-left: 0;
        padding-right: 0
    }

    .row--lg-offset {
        margin-left: -40px;
        margin-right: -40px
    }

    .row--lg-hc {
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .row--lg-vc {
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }

    .row--lg-reverse {
        -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse
    }

    .col.col--lg-1 {
        -webkit-flex: 0 1 8.33333%;
        -ms-flex: 0 1 8.33333%;
        flex: 0 1 8.33333%;
        max-width: 8.33333%
    }

    .col.col--lg-2 {
        -webkit-flex: 0 1 16.66667%;
        -ms-flex: 0 1 16.66667%;
        flex: 0 1 16.66667%;
        max-width: 16.66667%
    }

    .col.col--lg-3 {
        -webkit-flex: 0 1 25%;
        -ms-flex: 0 1 25%;
        flex: 0 1 25%;
        max-width: 25%
    }

    .col.col--lg-4 {
        -webkit-flex: 0 1 33.33333%;
        -ms-flex: 0 1 33.33333%;
        flex: 0 1 33.33333%;
        max-width: 33.33333%
    }

    .col.col--lg-5 {
        -webkit-flex: 0 1 41.66667%;
        -ms-flex: 0 1 41.66667%;
        flex: 0 1 41.66667%;
        max-width: 41.66667%
    }

    .col.col--lg-6 {
        -webkit-flex: 0 1 50%;
        -ms-flex: 0 1 50%;
        flex: 0 1 50%;
        max-width: 50%
    }

    .col.col--lg-7 {
        -webkit-flex: 0 1 58.33333%;
        -ms-flex: 0 1 58.33333%;
        flex: 0 1 58.33333%;
        max-width: 58.33333%
    }

    .col.col--lg-8 {
        -webkit-flex: 0 1 66.66667%;
        -ms-flex: 0 1 66.66667%;
        flex: 0 1 66.66667%;
        max-width: 66.66667%
    }

    .col.col--lg-9 {
        -webkit-flex: 0 1 75%;
        -ms-flex: 0 1 75%;
        flex: 0 1 75%;
        max-width: 75%
    }

    .col.col--lg-10 {
        -webkit-flex: 0 1 83.33333%;
        -ms-flex: 0 1 83.33333%;
        flex: 0 1 83.33333%;
        max-width: 83.33333%
    }

    .col.col--lg-11 {
        -webkit-flex: 0 1 91.66667%;
        -ms-flex: 0 1 91.66667%;
        flex: 0 1 91.66667%;
        max-width: 91.66667%
    }

    .col.col--lg-12 {
        -webkit-flex: 0 1 100%;
        -ms-flex: 0 1 100%;
        flex: 0 1 100%;
        max-width: 100%
    }

    .col.lg-loose-1-of-2 {
        -webkit-flex: 0 1 50%;
        -ms-flex: 0 1 50%;
        flex: 0 1 50%;
        max-width: 50%
    }

    .col.lg-loose-1-of-3 {
        -webkit-flex: 0 1 33.33333%;
        -ms-flex: 0 1 33.33333%;
        flex: 0 1 33.33333%;
        max-width: 33.33333%
    }

    .col.lg-loose-1-of-4 {
        -webkit-flex: 0 1 25%;
        -ms-flex: 0 1 25%;
        flex: 0 1 25%;
        max-width: 25%
    }

    .col.lg-loose-1-of-5 {
        -webkit-flex: 0 1 20%;
        -ms-flex: 0 1 20%;
        flex: 0 1 20%;
        max-width: 20%
    }

    .col.lg-loose-1-of-6 {
        -webkit-flex: 0 1 16.66667%;
        -ms-flex: 0 1 16.66667%;
        flex: 0 1 16.66667%;
        max-width: 16.66667%
    }

    .col.lg-loose-1-of-7 {
        -webkit-flex: 0 1 14.28571%;
        -ms-flex: 0 1 14.28571%;
        flex: 0 1 14.28571%;
        max-width: 14.28571%
    }

    .col.lg-loose-1-of-8 {
        -webkit-flex: 0 1 12.5%;
        -ms-flex: 0 1 12.5%;
        flex: 0 1 12.5%;
        max-width: 12.5%
    }

    .col.lg-loose-1-of-9 {
        -webkit-flex: 0 1 11.11111%;
        -ms-flex: 0 1 11.11111%;
        flex: 0 1 11.11111%;
        max-width: 11.11111%
    }

    .col.lg-loose-1-of-10 {
        -webkit-flex: 0 1 10%;
        -ms-flex: 0 1 10%;
        flex: 0 1 10%;
        max-width: 10%
    }

    .col.lg-loose-1-of-11 {
        -webkit-flex: 0 1 9.09091%;
        -ms-flex: 0 1 9.09091%;
        flex: 0 1 9.09091%;
        max-width: 9.09091%
    }

    .col.lg-loose-1-of-12 {
        -webkit-flex: 0 1 8.33333%;
        -ms-flex: 0 1 8.33333%;
        flex: 0 1 8.33333%;
        max-width: 8.33333%
    }

    .col.col--lg-auto {
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto
    }

    .col.col--lg-fill {
        -webkit-flex: 1 1 0;
        -ms-flex: 1 1 0;
        flex: 1 1 0
    }
}

@media all and (min-width: 1300px) {
    .container--xl {
        max-width:1300px
    }

    .row--40pxgutter,.row--40pxgutter>.col {
        padding-left: 20px;
        padding-right: 20px
    }

    .row--xl-wide-gutter,.row--xl-wide-gutter>.col {
        padding-left: 40px;
        padding-right: 40px
    }

    .row--xl-fat>.col {
        margin-top: 40px
    }

    .row--xl-thin>.col {
        margin-top: 20px
    }

    .row--xl-flat>.col {
        margin-top: 0
    }

    .row--xl-no-gutter,.row>.col--xl-no-gutter {
        padding-left: 0;
        padding-right: 0
    }

    .row--xl-offset {
        margin-left: -40px;
        margin-right: -40px
    }

    .row--xl-hc {
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    .row--xl-vc {
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center
    }

    .row--xl-reverse {
        -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse
    }

    .col.col--xl-1 {
        -webkit-flex: 0 1 8.33333%;
        -ms-flex: 0 1 8.33333%;
        flex: 0 1 8.33333%;
        max-width: 8.33333%
    }

    .col.col--xl-2 {
        -webkit-flex: 0 1 16.66667%;
        -ms-flex: 0 1 16.66667%;
        flex: 0 1 16.66667%;
        max-width: 16.66667%
    }

    .col.col--xl-3 {
        -webkit-flex: 0 1 25%;
        -ms-flex: 0 1 25%;
        flex: 0 1 25%;
        max-width: 25%
    }

    .col.col--xl-4 {
        -webkit-flex: 0 1 33.33333%;
        -ms-flex: 0 1 33.33333%;
        flex: 0 1 33.33333%;
        max-width: 33.33333%
    }

    .col.col--xl-5 {
        -webkit-flex: 0 1 41.66667%;
        -ms-flex: 0 1 41.66667%;
        flex: 0 1 41.66667%;
        max-width: 41.66667%
    }

    .col.col--xl-6 {
        -webkit-flex: 0 1 50%;
        -ms-flex: 0 1 50%;
        flex: 0 1 50%;
        max-width: 50%
    }

    .col.col--xl-7 {
        -webkit-flex: 0 1 58.33333%;
        -ms-flex: 0 1 58.33333%;
        flex: 0 1 58.33333%;
        max-width: 58.33333%
    }

    .col.col--xl-8 {
        -webkit-flex: 0 1 66.66667%;
        -ms-flex: 0 1 66.66667%;
        flex: 0 1 66.66667%;
        max-width: 66.66667%
    }

    .col.col--xl-9 {
        -webkit-flex: 0 1 75%;
        -ms-flex: 0 1 75%;
        flex: 0 1 75%;
        max-width: 75%
    }

    .col.col--xl-10 {
        -webkit-flex: 0 1 83.33333%;
        -ms-flex: 0 1 83.33333%;
        flex: 0 1 83.33333%;
        max-width: 83.33333%
    }

    .col.col--xl-11 {
        -webkit-flex: 0 1 91.66667%;
        -ms-flex: 0 1 91.66667%;
        flex: 0 1 91.66667%;
        max-width: 91.66667%
    }

    .col.col--xl-12 {
        -webkit-flex: 0 1 100%;
        -ms-flex: 0 1 100%;
        flex: 0 1 100%;
        max-width: 100%
    }

    .col.xl-loose-1-of-2 {
        -webkit-flex: 0 1 50%;
        -ms-flex: 0 1 50%;
        flex: 0 1 50%;
        max-width: 50%
    }

    .col.xl-loose-1-of-3 {
        -webkit-flex: 0 1 33.33333%;
        -ms-flex: 0 1 33.33333%;
        flex: 0 1 33.33333%;
        max-width: 33.33333%
    }

    .col.xl-loose-1-of-4 {
        -webkit-flex: 0 1 25%;
        -ms-flex: 0 1 25%;
        flex: 0 1 25%;
        max-width: 25%
    }

    .col.xl-loose-1-of-5 {
        -webkit-flex: 0 1 20%;
        -ms-flex: 0 1 20%;
        flex: 0 1 20%;
        max-width: 20%
    }

    .col.xl-loose-1-of-6 {
        -webkit-flex: 0 1 16.66667%;
        -ms-flex: 0 1 16.66667%;
        flex: 0 1 16.66667%;
        max-width: 16.66667%
    }

    .col.xl-loose-1-of-7 {
        -webkit-flex: 0 1 14.28571%;
        -ms-flex: 0 1 14.28571%;
        flex: 0 1 14.28571%;
        max-width: 14.28571%
    }

    .col.xl-loose-1-of-8 {
        -webkit-flex: 0 1 12.5%;
        -ms-flex: 0 1 12.5%;
        flex: 0 1 12.5%;
        max-width: 12.5%
    }

    .col.xl-loose-1-of-9 {
        -webkit-flex: 0 1 11.11111%;
        -ms-flex: 0 1 11.11111%;
        flex: 0 1 11.11111%;
        max-width: 11.11111%
    }

    .col.xl-loose-1-of-10 {
        -webkit-flex: 0 1 10%;
        -ms-flex: 0 1 10%;
        flex: 0 1 10%;
        max-width: 10%
    }

    .col.xl-loose-1-of-11 {
        -webkit-flex: 0 1 9.09091%;
        -ms-flex: 0 1 9.09091%;
        flex: 0 1 9.09091%;
        max-width: 9.09091%
    }

    .col.xl-loose-1-of-12 {
        -webkit-flex: 0 1 8.33333%;
        -ms-flex: 0 1 8.33333%;
        flex: 0 1 8.33333%;
        max-width: 8.33333%
    }

    .col.col--xl-auto {
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto
    }

    .col.col--xl-fill {
        -webkit-flex: 1 1 0;
        -ms-flex: 1 1 0;
        flex: 1 1 0
    }
}




.scroll-fade {
    transition: .6s ease!important;
    opacity: 0;
    animation-duration: 1.8s!important;
}

.scroll-fade--in {
    opacity: 0;
    transform: translateY(0);
}

.h1,h1 {
    font-weight: 800;
    font-size: 30px;
    font-size: 1.66667rem
}

@media all and (min-width: 768px) {
    .h1,h1 {
        font-size:45px;
        font-size: 2.5rem
    }
}

.h2,h2 {
    font-weight: 800;
    font-size: 26px;
    font-size: 1.44444rem
}

@media all and (min-width: 768px) {
    .h2,h2 {
        font-size:38px;
        font-size: 2.11111rem
    }
}


.align-center, .text-center {
    text-align: center;
}

.product.fixed {
    position: fixed;
    top: 0;
    z-index: 0;
}

.product.fixed.absolute {
    position: absolute;
}

//  main
.site-header {
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    z-index: 400;
    .site-header__brandmark{
        display: block;
        float: left;
        height: 52px;
        width: 46px;
    }
}

.toggle-button {
    background: none;
    border: 0 none;
    color: #fff;
    float: right;
    // font-family: Avenir Next W01 Light,Helvetica Neue,helvetica,arial,sans-serif;
    font-size: 15px;
    height: 45px;
    line-height: 1;
    padding: 0;
    position: relative;
    transition-property: color;
    width: 80px;
    outline: none;
}

.toggle-button,
.toggle-button__bar {
    transition: .15s ease-in-out;
}

.toggle-button__bar {
    background: #fff;
    border-radius: 2px;
    display: block;
    height: 2px;
    margin: 3px 0;
    width: 21px;
    transition-property: all;
}


.toggle-icon {
    display: block;
    float: right;
    transform: translateX(0);
    transition: .15s linear;
}

.nav-toggle {
    opacity: 1;
    cursor: pointer;
}

// navigation
.navigation-wrapper {
    background-color: hsla(0,0%,100%,0);
    height: 100vh;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transition: background-color .1s linear;
    width: 100%;
    will-change: background-color;
    z-index: 300;
}

.navigation--primary {
    background-color: #191819;
    transition: all .25s ease-in-out;
    transform: translateY(-100%);
    opacity: .5;
    align-items: center;
    height: 100%;
}

@media all and (min-width: 768px) {
    .navigation--primary {
        padding-top:0;
        height: 100vh
    }
}

.nav {
    font-size: 0;
    list-style: none;
    margin: 0;
    width: 100%;
    padding: 0 0 20px;
    text-align: left;
}

@media all and (min-width: 768px) {
    .nav {
        width:100%
    }
}

@media all and (min-width: 1100px) {
    .nav {
        margin-left:auto;
        margin-right: auto
    }
}

@media all and (min-width: 768px) {
    .nav--primary {
        padding-top:20vh
    }
}

@media all and (min-width: 768px) {
    .nav__item {
        display:inline-block
    }
}

@media all and (min-width: 768px) {
    .nav__item--primary {
        width:100%
    }
}

@media all and (min-width: 1100px) {
    .nav__item--primary {
        width:100%
    }
}

.nav__link {
    color: #888;
    display: inline-block;
    font-size: 28px;
    font-family: Noto Sans Regular;
    font-weight: 300;
    padding: 35px;
    transition: color 75ms ease-in-out;
    will-change: color
}

.nav__link:hover {
    color: #fff;
}

@media all and (min-width: 768px) {
    .nav__link {
        font-size:40px;
    }
}

@media all and (min-width: 992px) {
    .nav__link {
        font-size:40px
    }
}

@media all and (min-width: 1100px) {
    .nav__link {
        font-size:44px
    }
}

.nav__item--active>.nav__link--primary,.nav__link--primary:hover {
    color: #0dc3ad
}

.navigation-wrapper--open .navigation--primary {
    transform: translateY(0);
    opacity: 1;
}

// .site-footer {
//     position: relative;
//     background: #fff;
//     clear: both;
//     color: #a5a5a5;
//     font-family: Avenir Next W01 Light,Helvetica Neue,helvetica,arial,sans-serif;
//     font-size: 14px;
//     line-height: 1.6;
//     padding: 80px 0 40px;
// }

// .site-header__brandmark img {
//   animation-duration: 3s;
//   animation-delay: 0s;
// }

// .project-image {
//     background: no-repeat 50%;
//     background-size: cover;
//     display: block;
//     width: 100%;
// }

// .project-image__hidden-img {
//     display: block;
//     height: auto;
//     max-width: 100%;
//     visibility: hidden;
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 0;
//     height: 0;
// }

// .project-image__spacer {
//     padding-top: 75%;
// }

// .project-text {
//     padding: 65px;
//     p {
//         line-height: 2rem;
//         text-align: justify;
//     }
// }

// @media all and (min-width: 768px) {
//    .project-text {
//         p {
//             font-size: 1.2rem
//         }
//    }
// }


// @media all and (min-width: 1100px) {
//     .project-text {
//         padding: 80px;

//         h2 {
//             font-size:2.7rem
//         }

//         p {
//             line-height: 2.5rem;
//             font-size: 1.4rem;
//         }
//     }
// }

// .art-title {
//     font-size: 17px;
//     line-height: 1.4;
//     padding: 60px 0px;
//     position: relative;
//     text-align: left;
//     display: none;
//     z-index: 100;
//     width: 460px;
//     font-family: "Noto Sans Regular";
//     color: #fff;
    
//     h3 {
//         margin-bottom: 0px;
//         margin-top: 10px;
//         font-size: 2.2rem;
//     }

//     h2 {
//         margin-top: 5px;
//         font-size: 4rem;
//     }
// }

// @media all and (min-width: 768px) {
//     .art-title {
//         display: block;
//    }
// }


// .bx-wrapper {
//     border:none;
//     box-shadow: none;
//     margin-bottom: 0px;
// }

// .art-section-1 {
//     display: none;
// }

// @media all and (min-width: 768px) {
//     .art-section-1 {
//         padding: 75px 0 225px;
//         display: block;
//     }
// }

// .slider-name,.slider-name-it{
//     text-align: right;
//     padding: 0 16px 5px 0;
// }

// .slider-name {
//     margin-top: 20px;
// }

// .art-section-2 {
//     background-color: #f7f7f7;

//     .art-project-wrapper {
//         align-items: center;
//         display: flex;
//     }

//     .project-text {
//         text-align: center;
//         justify-content: space-around;
//         width: 100%;

//         h2 {
//             font-family: Noto Sans Regular;
//             color: #626262;
//             margin-top: 10px;
//         }

//         h2:last-child
//         {
//             color:#b8b8b8;
//         }
//     }
// }

// .cake-section-right {
//     display: flex;
//     background-size: cover;
//     align-items: center;
//     justify-content: center;
//     height: 60vw;
//     h2 {
//         font-family: Noto Sans Bold;
//         font-size:4.5rem;
//     }
// }

// .cake-section-2 .cake-section-text {
//     position: absolute;
//     left: 275px;
//     top: 170px;

//     h2 {
//         font-family: Noto Sans Bold;
//         font-size: 4.5rem;
//     }
// }
// .cake-section-3 .cake-section-text {
//     position: absolute;
//     top: 335px;
//     left: 300px;
//     h2 {
//         font-size: 4.5rem;
//         font-family: Noto Sans Bold;
//     }
// }

// .cake-section-4 .cake-section-text {
//     position: absolute;
//     width: 100%;
//     top: 23%;
//     h2 {
//         font-size: 4.5rem;
//         font-family: Noto Sans Bold;
//         color: #fff;
//         text-align: center;
//     }
// }

// .product-headline {
//     display: flex;
//     flex-direction: column;
//     align-items: baseline;
//     justify-content: center;
//     padding-left:75px;
// }

// @media all and (max-width: 768px) {
//     .product-headline {
//         align-items: center;
//         padding-left: 0;
//         width: 100%;
//     }

//     .cake-section-1 .cake-section-right {
//         height: 75vw;
//         .project-text {
//             padding:0;;
//         }
//         h2 {
//             font-size: 2.2rem
//         }
//     }
//     .cake-section-2 .cake-section-text {
//         position: relative;
//         left: auto;
//         top: 35px;
//         h2 {
//             text-align: center;
//             font-family: Noto Sans Bold;
//             font-size: 2.2rem;
//         }
//     }

//     .cake-section-4 .cake-section-text h2 {
//         font-size:2.2rem;
//     }
// }
